[
	{
		"name": "config", // configuration settings
		"type": "configuration",
		"modified": false
	},
	{
		"name": "includes", // include section - import additional setting files
		"type": "configuration",
		"include": [
			"./*.json" // include JSON from any files that match
		]
								 // any src/*.json files will be matched
	},
	{
		"name": "example1", // Program name for interface
		"type": "program", // 'program'-types spawn a cqueues thread for separate execution
		"directory": "./example", // Directory to chdir into before starting program
		"file": null, // Optional if you don't have main.lua, main.srv, or main.cli
		"arguments": [
			"-o", // arguments to be passed to the program
		]
	},
	{
		"name": "example2", // Program name for interface
		"type": "coroutine", // 'coroutine'-types are wrap()ped without adding another thread
		"directory": ".", // current directory if you want
		"file": "main.srv",
		"arguments": [
			"--target-directory ./" // arguments to be passed to the program
		]
	}
]
